.region-content {
  background-color: #f6f4f4;
  text-align: center;
  border: 1px solid black;
  border-radius:3px;
}


#edit-biography{
  border: 1px solid black;
  border-radius: 4px;
  resize: none;
}



#edit-sex  {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
#edit-sex input[type=radio] {
  display: none;
}
#edit-sex label {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
}

/* Checked */
#edit-sex input[type=radio]:checked + label {
  background: #ffe0a6;
}

/* Hover */
#edit-sex label:hover {
  color: #666;
}

/* Disabled */
#edit-sex input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}


#edit-limbs  {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
#edit-limbs input[type=radio] {
  display: none;
}
#edit-limbs label {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
}

/* Checked */
#edit-limbs input[type=radio]:checked + label {
  background: #ffe0a6;
}

/* Hover */
#edit-limbs label:hover {
  color: #666;
}

/* Disabled */
#edit-limbs input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}



select{
  background-color: #ffe0a6;
  border: 1px solid red;
  color: blue;
}



#edit-check
